/*.com { color: #93a1a1; }*/
.com { color: #549b53; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
/*.str, .atv { color: teal; }*/
.str, .atv { color: #2E2E31; }

/*.kwd, .prettyprint .tag { color: #1e347b; }*/
.kwd, .prettyprint .tag { color: #1c4ca4; font-weight: bold;}
.typ, .atn, .dec, .var { color: #D14; }
/*.pln { color: #48484c; }*/
.pln { color: #2E2E31; }

.prettyprint-minheight{
  min-height:650px;
}
.prettyprint {
  /*padding: 8px;*/
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-size: 12px;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
/*ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}*/
ol.linenums li {
  padding-left: 8px;
  color: #bebec5;
  line-height: 16px;
  text-shadow: 0 1px 0 #fff;
}